<table width="650" cellspacing="0" style="margin: 0 auto; padding: 0;">
  <tbody style="margin: 0; padding: 0;">
    <tr style="margin: 0; padding: 0;">
      <td width="200" align="right"
          style="text-align: right; color: #323a45; margin: 0; padding: 7px 10px; font: 600 14px Arial, sans-serif;">
        Time:
      </td>
      <td width="450" align="left"
          style="text-align: left; color: #323a45; margin: 0; padding: 7px 10px; font: 400 14px Arial, sans-serif;">
        {{ time }} ({{ site_timezone }})
      </td>
    </tr>
    <tr style="margin: 0; padding: 0;">
      <td width="200" align="right"
          style="text-align: right; color: #323a45; margin: 0; padding: 7px 10px; font: 600 14px Arial, sans-serif;">
        Coordinates:
      </td>
      <td width="450" align="left"
          style="text-align: left; color: #323a45; margin: 0; padding: 7px 10px; font: 400 14px Arial, sans-serif;">
        {{ latitude }}, {{ longitude }}
      </td>
    </tr>
    <tr style="margin: 0; padding: 0;">
      <td width="200" align="right"
          style="text-align: right; color: #323a45; margin: 0; padding: 7px 10px; font: 600 14px Arial, sans-serif;">
        Notification id:
      </td>
      <td width="450" align="left"
          style="text-align: left; color: #323a45; margin: 0; padding: 7px 10px; font: 400 14px Arial, sans-serif;">
        {{ event_guid }}
      </td>
    </tr>
    <tr style="margin: 0; padding: 0;">
      <td width="650" align="center" colspan="2"
          style="text-align: center; color: #323a45; margin: 0; padding: 7px 10px; font: 400 14px Arial, sans-serif;">
        <a href='{{unsubscribe_url}}'>Unsubscribe from this group</a>
      </td>
    </tr>
  </tbody>
</table>
